<div class="container px-5 px-sm-0">
  <%= render 'layouts/error', obj: @book %>
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info_form', user: current_user , book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'books', obj: @books %>
    </div>
  </div>
</div>

